<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- Bootstrap Styles-->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="static/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="static/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
    <link href='font.css' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="static/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/adminAfterLogin" style="color:#B9936C"><i class="fa fa-comments"></i> <strong>NetCafe </strong></a>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/adNwUs"><i class="fa fa-plus"></i> Add New User</a>
                    </li>
                    <li>
                        <a href="/delUs"><i class="fa fa-times"></i> Delete user</a>
                    </li>
                    <li>
                        <a href="/usRech"><i class="fa fa-jpy"></i> User Recharge</a>
                    </li>
                    <li>
                        <a href="/usInfo"><i class="fa fa-user"></i> User Information</a>
                    </li>
                    
                    <li>
                        <a href="/tdOl"><i class="fa fa-table"></i> Today's Online</a>
                    </li>
                    <li>
                        <a href="/usProfil"><i class="fa fa-edit"></i> Profile </a>
                    </li>
                    <li>
                        <a href="/index"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Welcome (name) to Work&nbsp <small> Enjoy your work time </small> 
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.</p></footer>
        </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="static/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="static/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="static/js/dataTables/jquery.dataTables.js"></script>
    <script src="static/js/dataTables/dataTables.bootstrap.js"></script>

    <script src="static/js/DollarSymbol.js"></script>
         <!-- Custom Js -->
    <script src="static/js/custom-scripts.js"></script>
    
   
</body>
</html>
