<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- Bootstrap Styles-->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="static/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->

        <!-- Custom Styles-->
    <link href="static/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
    <link href='font.css' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="static/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        .form-bottom {
            padding: 50px 170px 30px 170px;
            -moz-border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
            text-align: left;
        }
        .form-bottom form textarea {
            height: 100px;
        }
        .form-bottom form button.btn {
            width: 100%;
        }
        .form-bottom form .input-error {
            border-color: #de615e;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/userAfterLogin"><i class="fa fa-comments"></i> <strong>NetCafe </strong></a>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/chOnlnTm"><i class="fa fa-clock-o"></i> Check Online Time</a>
                    </li>
                    <li>
                        <a href="/clAdmin"><i class="fa fa-phone"></i> Call Administrator</a>
                    </li>
                    <li>
                        <a href="/hisBil"><i class="fa fa-money"></i> History Bill</a>
                    </li>
                    <li>
                        <a href="/usProfil" class="active-menu"><i class="fa fa-edit"></i> Profile</a>
                    </li>
                    <li>
                        <a href="/index"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Your Profile
                        </h1>
                    </div>
                </div>
                 <!-- /. ROW  -->
                <div class="row">
                    <!-- Advanced Tables -->
                    <div class="table-responsive">
                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">
                                        User ID
                                    </label>
                                    <input type="text" name="form-username" placeholder="User ID..." class="form-username form-control"
                                    id="form-username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">
                                        User name
                                    </label>
                                    <input type="text" name="form-username" placeholder="User Name..." class="form-username form-control"
                                    id="form-username">
                                </div>
                                <a href="#"><u> Change Password? </u></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.</p></footer>
        </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="static/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="static/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="static/js/dataTables/jquery.dataTables.js"></script>
    <script src="static/js/dataTables/dataTables.bootstrap.js"></script>
    <script src="static/js/DollarSymbol.js"></script>
         <!-- Custom Js -->
    <script src="static/js/custom-scripts.js"></script>


</body>
</html>
